* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: #222;
  color: white;
  font-family: sans-serif;
  padding: 1rem;
}
button {
  background: #444;
  border-radius: 0%.25rem;
  color: white;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 3rem;
  margin-left: 5rem;
}
button:hover {
  background: #666;
}
